= simple_form_for @group, :defaults => {:input_html => {:class => 'span5'}} do |f|
  = f.error_notification if f.error_notification

  = f.input :name
  = f.input :url_1, :as => :url
  = f.input :url_2, :as => :url
  = f.input :email, :as => :email
  = f.input :description, :as => :text, :hint => "Keep it concise in 1 or 2 sentences only.", :input_html => {:rows => 5}
  = f.input :tags, :collection => Group.tags, 
      :input_html => {"data-placeholder" => "Select tags", 'data-allows-new-values' => true, :class => 'chosen', :multiple => 'multiple' }
  = f.input :avatar

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to "Cancel", root_path, :class => "btn btn-danger" 
