%li.span3
  %div[group.model]{class: 'group-card thumbnail'}
    = group.delete_link

    = image_tag group.avatar.url, alt: group.name, title: group.name
    .caption
      = group.name_link
      = group.email_link
      = group.url_2_link
      %p.description= group.description
      = render 'tags', tags: group.tags
