%li.span4
  %div.group-card.thumbnail[group.model]
    = group.delete_link

    .header
      %p= group.logo_link
      %p.group-name= group.name_link
    .caption
      %p= group.url_2_link
      %p= group.email_link
      %p.description= group.description
      = render 'tags', tags: group.tags
